//_________________________________________________________________________/
//________________________________________________________________________/
//---------------------------- [ ESTILOS ] ------------------------------/
@import 'nib'

vendor-prefixes = webkit moz ms o official
scale = 0 480px 768px 992px 1200px



//*****************************************************************//
//****************************************************************//
// ---------------> [ Menu animado ] <---------------- //
//**************************************************************//
//*************************************************************//
.menu-icon
	width 100%
	height 55px
	bloque ()
	margin auto
	position relative
	span
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		display block
		width 22px
		height 2px
		background-color negro
		&:before
		&:after
			content ""
			background-color negro
			width 22px
			height 2px
			position absolute
			top 0
			left 0
			transform translateY(-6px)
			transition transform 0.5s
		&:after
			transform translateY(6px)
	&:hover
		span
			&:before
				transform translateY(-8px)
			&:after
				transform translateY(8px)

.menu-icon-arrow
	transition transform 0.5s
	svg
		fill transparent
		stroke-width 2px
		stroke negro
		stroke-dashArray 165
		stroke-dashOffset 165
		transition stroke-dashOffset 1s ease, fill 0.5s
	span
	span:before
	span:after
		transition background 0.5s, transform 0.5s, width 0.5s
		transform-origin 100% 100%
.isOpen
	transform rotate(-180deg)
	svg
		stroke-dashOffset 0
	span:before
		transform translateY(0) rotate(45deg)
	span:after
		transform translateY(0) rotate(-45deg)
	span:before
	span:after
		width 50%
		right 0px
		left auto
	&:hover
		span:before
			transform translateY(0) rotate(45deg)
		span:after
			transform translateY(0) rotate(-45deg)
		svg
			fill rgba(255, 255, 255, 0.1)


// Backtotop

.cd-top
	display inline-block
	height 40px
	width 40px
	position fixed
	bottom 40px
	right 10px
	border 1px solid rgba(0,0,0,.3)
	border-radius 50%
	background rgba(255, 255, 255, .1)
	overflow hidden
	text-indent 100%
	visibility hidden
	opacity 0
	transition opacity .3s 0s, visibility 0s .3s

.cd-top
	i
		tam ()
		position absolute
		top 0px
		left 0px
		width 100%
		height 100%
		transform rotate(-90deg)
		padding 10px
		img
			tam ()
			width 35px
			position absolute
			top 0px
			left 0px
			right 0px
			bottom 0px
			margin auto

.cd-top
	.cd-is-visible
		transition opacity .3s 0s, visibility 0s 0s

.cd-top
	.cd-fade-out
		transition opacity .3s 0s, visibility 0s 0s
.no-touch
.cd-top
	&:hover
		transition opacity .3s 0s, visibility 0s 0s

.cd-top.cd-is-visible
	visibility visible
	opacity 1

.cd-top
	.cd-fade-out
		opacity .5

.no-touch
	.cd-top
		&:hover 
			box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .75)
			opacity 1

@media only screen and (min-width: 768px)
	.cd-top
		right 20px
		bottom 20px

@media only screen and (min-width: 1024px)
	.cd-top 
		height: 60px
		width: 60px
		right: 30px
		bottom: 30px


// Loader 

.preloadXP
	width 250px
	height 60px
	position absolute
	top 0px
	left 0px
	right 0px
	bottom 0px
	margin auto
	img
		tam ()

#floatingCirclesG{
	width:125px;
	height:125px;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	} 
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

//***********************************************************//
//************************************************************//
// ------------> [ Fin - Menu animado ] <----------- //
//**************************************************************//
//***************************************************************//